{% extends "base.html" %}

{% block title %} NMAP - Login {% endblock %}

{% block content %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Nástroj pro skenování portů - Nmap</h1>
                <p >Tento web se zabývá nástrojem Nmap v rámci projektu do školního předmětu "Kybernetická Bezpečnost"</p>
            </div>
        </header>
        <!-- About section-->
        <section class="container px-4 text-center">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">
                        <h2>LOGIN</h2>
                        <p>Přihlas se zmrde</p>
                            <br>

            </div>
        </section>

    
{% endblock %}