{% extends "base.html" %}
{% load static %}

{% block title %} OAuth - Home {% endblock %}

{% block content %}

        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">OAuth - autentizace jak ji máme rádi</h1>
                <p >Tento web se zabývá OAuth v rámci projektu do předmětu "Vybrané problémy bezpečnosti komunikací".</p>
                <a class="btn btn-lg btn-light" href="#about">Co je to OAuth?</a>
            </div>
        </header>
        <!-- About section-->
        <section class="" id="about">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">
                        <h2>Popis</h2>
                        <p>OAuth, neboli <b>Open Authorization</b>, je otevřený standard pro bezpečné předávání přístupu k chráněným zdrojům bez nutnosti sdílet hesla.
                            Za vznikem tohoto otevřeného standartu stojí firmy jako <b> Twitter, Google a další </b>. 
                            OAuth je otevřený standard pro autorizaci, který umožňuje třetím stranám přístup k uživatelským datům bez sdílení přihlašovacích údajů. 
                            Používá se hlavně pro přihlašování pomocí účtů jako Google, Facebook nebo GitHub. Obecně lze předpokládat že většina uživatelů je již k Google účtu přihlášena.
                            Proto je možné využít již existujícího přihlášení k ověřeřní uživatele.</p>
                            <br>
                            
                            <h4>OAuth umožňuje:</h4>
                            <ul>
                                <li>Bezpečné delegování přístupu k uživatelským datům bez sdílení přihlašovacích údajů.</li>
                                <li>Umožňuje aplikacím třetích stran přístup k uživatelskému účtu na základě udělených oprávnění.</li>
                                <li>Podporuje různé scénáře ověřování: přístup přes prohlížeč, mobilní aplikace nebo serverové systémy.</li>
                                <li>Je standardem používaným největšími poskytovateli služeb jako Google, Facebook, GitHub a dalšími.</li>
                            </ul>
                            
                            <h4>Využití:</h4>
                            <ul>
                                <li>Přihlášení uživatelů do webových a mobilních aplikací pomocí účtů ze sociálních sítí (např. Přihlášení přes Google).</li>
                                <li>Bezpečný přístup k API bez nutnosti ukládání uživatelského jména a hesla.</li>
                                <li>Správa přístupových oprávnění a jejich časového omezení (tokeny s omezenou platností).</li>
                                <li>Integrace služeb mezi více systémy nebo aplikacemi bez kompromitace přihlašovacích údajů.</li>
                            </ul>
            </div>
        </section>

        <section class="bg-light" id="about">
            <div class="container px-6 w-100">
                <div class="row gx-4 justify-content-center w-100">
                    <div class="col-md-8 w-100">

                        <h2>S OAuth vs bez OAuth</h2>
                        <figure class="figure col-md-5">
                            <img src="{% static 'oauth_app/images/Without-oauth.png' %}" style="width:100%;">
                            <figcaption class="figure-caption">1. Blokové schéma klasického přihlášení pomocí e-mailu a hesla. </figcaption>
                            </figure>
                            <figure class="figure col-md-5">
                                <img src="{% static 'oauth_app/images/Abstract-flow.png' %}" style="width:100%;">
                                <figcaption class="figure-caption">2. Abstraktní schéma přihlašovacího procesu OAuth.</figcaption>
                                </figure>

                        <h2>Historie</h2>
                        <p>
                            <ul>
                                <ul>
                                    <li>OAuth vznikl v roce 2006 jako otevřený standard pro autorizaci.</li>
                                    <li>První verze, OAuth 1.0, byla publikována v roce 2007, ale měla složitější implementaci a problémy s bezpečností.</li>
                                    <li>OAuth 2.0, aktuálně nejpoužívanější verze, byl představen v roce 2012 a přinesl jednodušší model autorizace s využitím access tokenů.</li>
                                    <li>Vývoj OAuth 2.1 je v procesu – cílem je zpřehlednit specifikaci a odstranit zastaralé prvky.</li>
                                    <li>OAuth se stal základem pro moderní systémy ověřování a autorizace, včetně OpenID Connect.</li>
                                </ul>
                            </ul>

                    </div>
                </div>
            </div>
        </section>

{% endblock %}